<h1>All the carbs</h1>

<ul>
  <% @pastas.each do |pasta| %>
    <li>
      <a href="<%= 'pastas/' + pasta.id.to_s + '/entrees' %>"><%= pasta.name %></a>
    </li>
  <% end %>
</ul>

<figure>
  <a href="/pastas/new">Add your favorite!</a>
</figure>
